body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background: #e2e2e2;
}

brand-logo{
  height: 100%;
}

.sidenav {
  background: #66B9BF;
}

.indicators {
  color: white;
}

a {
  color: #07889B;
  transition: all 0.2s ease;
}

a:hover{
  color: rgb(0, 208, 223); 
}

.card a:hover{
  color: rgb(0, 208, 223); 
}

.nav-wrapper{
  margin: 0 auto;
  width: 90%;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: #07889B 2px solid;
}

nav a:hover{
  color: white;
}

input{
  color:white;
}

h1 {
  font-size: 59px;
  font-weight: 300;
}

h2 {
  display: inline-block;
  padding-bottom: 2px;
  position: relative;
}

h3 {
  font-size:18px;
}

p {
  font-size:20px;
  font-weight: 300;
}

nav ul li:hover {
  background-color: #07889B;
}

.opaquenav{
  background: rgb(20, 20, 20,0.65);
  z-index:9999;
}

.navbar-fixed{
  font-weight: 300;
}

.navbar-fixed{
  padding: 0;
  position: absolute;
}

.nGrid-12 { /* Nested Grid */
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cRow{ /* Custom Row */
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.outlined {
  border: 2px #07889B solid;
  background: none;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2.5em;
  border-radius: 5px;
  width: 100%;
}

.outlined:hover {
  border: 2px rgb(0, 208, 223) solid;
}

.btn {
  border-radius: 5px;
  padding-bottom: 2.5em;
  width: 100%;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
}

.alignBot{
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.alignBot2{
  position: absolute;
  bottom: 3em;
  left: 1.5em;
}

.empHeading{
  grid-column: 1/13;
  grid-row: span 1;
  padding: 1em;
  border: #07889B 6px solid;
  color: #07889B;
  text-align: center;
  align-items: center;
  margin-bottom: 5em;
}

.clmn-3{
  grid-column: span 3;
}

.clmn-6{
  grid-column: span 6;
}

.clmn-12{
  grid-column: span 12;
}

/* Home Page Header */

header {
  grid-column: 1/13;
  grid-row: 1/8;
  height: 120vh;
}

#scHome {

  background-image: url("../img/bg1.jpg");
  background-position: center center;
  z-index: -1;
  height: 140vh;
}
#scHome .scCover{
  height: 140vh;
}

#scHome h1{
  color: #ffbd5b;
}

.scCover {
  grid-column: 1/13;
  grid-row: 1;
  background: #031c22;
  opacity: 0.85;
  width: 100vw;
}

.scMainline {
  padding-top: 40vh;
  padding-left: 3em;
  grid-column: 1/13;
  grid-row: 1;
  align-content: center;
  align-items:center;
  z-index: 3;
  color: #fff;
}

.scMainline p{
  font-size: 20px;
}
/* KeyAreas on Home Page */

#keyAreas{
  color: white;
  grid-column:1/13;
  grid-row:2/3;
  padding-top: 125vh;
  display: flex;
  padding-bottom: 10em;
  justify-content: center;
  z-index: 1;
}

#keyAreas p{
  font-size: 16px;
}

#keyAreas .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  background: #067d8f;
  top: -3em;
  border-radius: 50%;
}

#keyAreas .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #fff;
}
#keyAreas .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}
.card-md{
  padding: 2em;
  width: 25vw;
  height: 65vh;
  transform: translate(0px, 7vh);
  background-color:#07889B;
  text-align: center;
}

.card-lg{
  padding: 2em;
  height: 80vh;
  width: 30vw;
  text-align: center;
  background-color: #0b93a8;
  z-index: 5;
}

/* What We Offer */

#features {
  grid-column: 1/13;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1em;
  padding-bottom: 10em;
}

.sHeading {
  grid-column: 1/13;
  text-align: center;
}

.sHeading h2:after {
  position: absolute;
  bottom: -20;
  content: "";
  width: 60%;
  margin-left: -30%;
  height: 4px;
  border-radius: 5px;
  left: 50%;
  background: #ffb01f;
}

.sContent {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  padding: 3em;
}

#features .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  border: 1px solid grey;
  top: -3em;
  border-radius: 50%;
}

#features .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #07889B;
}
#features .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

.card-sm{
  grid-column: span 3;
  padding: 1em;
  padding-top: 6em;
  text-align: center;
}



/* Gallery */

#gallery{
  grid-row: 5/6;
  grid-column: 1/13;
  background: #0f4750;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2em 5em 8em 5em;
  grid-row-gap: 1em;
  overflow: hidden;
}

#gallery .nGrid-12{
  align-items: end;
}

.pic-sm {
  position: relative;
  bottom: 0px;
  grid-column:span 4;
  grid-row:span 1;
  height: 400px;
  background: red;
  align-content: end;
}

.pic-md {
  position: relative;
  grid-column:span 6;
  grid-row: span 1;
  height: 400px;
  background: yellow;
}

.pic-lg {
  position: relative;
  grid-column:span 8;
  grid-row: span 1s;
  height: 400px;
  background: blue;
}

.pic-sm, .pic-md, .pic-lg{
  border-radius: 10px;
}

#gallery .nGrid-12 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#gallerybtn .btn{
  margin-top: 3em;
  height: 100%;
  width: 60%;
  margin-left: -30%;
  left: 50%;
  font-size: 25px;
}

#gallerybtn .outlined{
  padding-bottom:0;
  padding: 1em;
}


/* Statistics */


#stats{
  grid-row: 6/7;
  grid-column: 1/13;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#stats .card-sm{
  padding-top: 0em;
}

#stats h3{
  font-size: 50px;
  margin-bottom: 10px;
  color: #07889B;
  font-weight: 100;
  display: block;
}

/* Newsletter */
#newsletter {
  background: rgb(46, 46, 46);
  grid-column: 1/13;
  grid-row: span 1;
  padding: 1em;
  color: white;
}

#newsletter .nGrid-12{
  padding-left: 3em;
  padding-right: 3em;
}


.inline-form {
  padding-top: 1em;
  padding: 1em;
  border: #07889B 1px solid;
  border-radius: 5px;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
}

.form-group {
  grid-column: span 4;
  align-items: center;
}

.form-group .btn{
  height: 50px;
  padding-bottom: 0em;
  font-size: 16px;
}

/* Login */
#scLogin {
  grid-column: 1/13;
  grid-row: 1;
  background-image: url("../img/bg1.jpg");
  background-position: center center;
}

#scLogin .scCover {
  height: 180vh;
}

#loginCard{
  grid-row: 1;
  grid-column: 1/13;
  padding-top:8em;
}


.login{
  grid-row: 1;
  grid-column: 5/9;
  background: rgb(20, 20, 20,0.85);
  border-radius: 15px;
  height: 100vh;
}

.login h1{
  text-align: center;
}

/* Register */

.register{
  grid-row: 1;
  grid-column: 5/9;
  background: rgb(20, 20, 20,0.85);
  border-radius: 15px;
  text-align: left;
  height: 110vh;
}

.register h1{
  text-align: center;
}

/* Footer */
footer {
  padding: 3em;
}

footer a{
  color: #07889B;
}

.footerAbout{
  grid-column: span 6;
  padding-right: 10em;
}

.footerLinks{
  grid-column: span 2;
}

.footerSocial{
  grid-column: span 2;
}

/* Dashboard */

/*About */
#about {
  grid-row: 1;
  height: 80vh;
}

#scAbout {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#scAbout .scCover{
  height: 80vh;
}

#scAbout .scMainline{
  padding-top: 30vh;
  text-align: center;
}

#history{
  grid-column: 1/13;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5em;
  padding-bottom: 10em;
}

#history .sHeading{
  grid-column: 1/13;
  grid-row: span 1;
  padding: 1em;
}

/* Profiles */

#profiles {
  grid-column: 1/13;
  background: #66B9BF;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 10em;
}

#profiles .nGrid-12 {
  grid-gap: 1em;
}


.bio {
  position: relative;
  align-items: center;
}

.bio h5, h6{
  text-align: center;
}

.bio h6{
  color: white;
  text-shadow: 1px 1px #07889B;
  text-align: center;
}

.bio p{
  font-size: 16px;

}

.middlepls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#profiles .sHeading {
  padding-bottom: 5em;
}

#profiles .sHeading h2:after {
  background: #EEAA7B;
}

/* Contact Us */

#contactForm {
  grid-row: span 1;
  grid-column: 1/13;
}

#contactForm h3{
  font-size: 35px;
  text-align: center;
}

#contactForm ul{
  padding-top: 3em;
  padding-left: 2em;
  font-size: 25px;
}

#contactForm .input-field{
  margin: 3em;
}

#contactForm .clmn-6 {
  padding: 3em;
}

#contactForm .btn {
  width: 60%;
}

/* Media Queries */

@media screen and (max-width: 768px) {

  .scMainline {
    padding-top: 40vh;
    padding-left: 1em;
  }
  .login {
    grid-column: 2/12;
  }
  h1 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
  }
  
  .mainHeading  h1{
    grid-column: 1/13;
    grid-row: 1;
    margin: 0;
    padding-left: 1rem;
  }
  
  .mainHeading-sub  p{
    font-size: 20px;
    margin: 0;
    padding-left: 1rem;
  }  

  #keyAreas {
    transform: translate(0px, 10em);
    flex-direction: column;
    align-items: center;
  }

  #keyAreas .card-md{
    width: 85vw;
    height: 60vh;
    transform: none;

    margin-top: 4em;
    position: relative;
  }
  
  #keyAreas .card-lg{
    height: 60vh;
    width: 85vw;
    margin-top: 4em;

  }

  #features .card-sm{
    grid-column: 1/13;
  }

  #gallery {
    padding-left: 1em;
    padding-right: 1em;
  }

  .pic-sm, .pic-md, .pic-lg{
    grid-column: 1/13;
  }
  
  #stats .card-sm{
    grid-column: 1/13;
  }

  .login{
    height: 80vh;
  }

  .register{
    grid-column: 2/12;
    padding: 1em;
    height: 110vh
  }

  .inline-form{
    border:none;
  }

  .form-group{
    grid-column: 1/13;
  }

  .footerAbout{
    grid-column: span 12;
  }
  
  .footerLinks{
    grid-column: span 12;
  }
  
  .footerSocial{
    grid-column: span 12;
  }

  .clmn-3{
    grid-column: span 12; 
  }
  
  .clmn-6{
    grid-column: span 12;
  }

  #contactForm .btn {
    width: 100%;
  }
  
}